:root {
    /* Define CSS variables at the root level */
    --body-bg-color: #3d3b63;
    --container-bg-color: #ad9acd;
    --text-color: #333;
    --text-color-light: #ffffff;
    --button-bg-color: #3d3b63;
    --button-bg-color-hover: #2a2850; /* Slightly darker shade for button hover */
    --padding-standard: 0.625rem;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--body-bg-color);
    margin: 0;
    padding: var(--padding-standard);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--container-bg-color);
    padding: var(--padding-standard);
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem #0000001a;
    width: 90%;
    max-width: 600px; /* Maximum width to maintain layout on larger screens */
    text-align: center; /* Center the text and buttons inside the container */
}

.button-container button {
    background-color: var(--button-bg-color);
    color: var(--text-color-light);
    padding: var(--padding-standard) 1rem; /* Adjusted for visual balance */
    margin: var(--padding-standard) 0.5rem; /* Space out buttons */
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: var(--button-bg-color-hover);
}

@media (max-width: 768px) {
    .container {
        width: 95%; /* Slightly wider on smaller screens for better use of space */
        padding: var(--padding-standard);
    }

    .button-container button {
        font-size: 0.875rem; /* Adjust font size for readability on small screens */
        padding: var(--padding-standard); /* Adjust padding for smaller screens */
    }
}
